<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Search Engine</title>
</head>
<body>

<div class="m-4" style="top: 10px; left: 10px;">
    <div style="position: absolute">
        <div>Enter Search here</div>
        <div id="search">
            <input id="queryInput"type="text" name="search-txt" value="" autocomplete="off"/>

            <a id="searchButton" >search</a>
        </div>
        <div id="search-contents" style=" font-size: 12px;height: 600px; overflow-x: scroll;"></div>
        <div>
            Open Doc ID: <input id="open-input" type="text" name="open-doc" value="" autocomplete="off"/>
            <a id="open-button" >open</a>
        </div>

    </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
    $(function() {
        $("#searchButton").on("click", function(evt) {
            let queryValue = document.getElementById("queryInput").value;
            //console.log(queryValue);
            if(queryValue == ""){
                alert("query cannot be empty")
            } else {
                $.post("/search", {queryValue: queryValue}, function(result){
                    $(result).appendTo($("#search-contents"));
                });
            }

        })
    })

    // function docClicked(id)
    // {
    //     $.post("/doc", {docID: id}, function(result){
    //         $(result).appendTo($("#search-contents"));
    //     });
    //
    // };

    $(function() {
        $("#open-button").on("click", function(evt) {
            let docValue = document.getElementById("open-input").value;
            //console.log(queryValue);
            if(docValue == ""){
                alert("open cannot be empty")
            } else {
                $.post("/document", {docValue: docValue}, function(result){
                    $(result).appendTo($("#search-contents"));
                });
            }

        })
    })





</script>

</body>
</html>